

<div>
    <div>
        <img src="{{image_url}}" alt="dog picture" height="300px">
    </div>
    <h2>Breed</h2>
    <h4>{{breed}}</h4>
    <h3>Size</h3> 
    <h4>{{size}}</h4>
    <h3>Home Requirement </h3> 
    <h4>{{home_requirement}}</h4>
    <h3>Temperament</h3> 
    <h4>{{temperament}}</h4>
   
</div>

<script src="/js/dogBreed.js"></script>