<div>
    <h3>Name: {{petsdata.name}}</h3>
    <h3>Description:{{petsdata.description}}</h3>
    <h3>Breed:{{petsdata.breed}}</h3> 
    <h3>Size:{{petsdata.size}}</h3>
    <h3>Age:{{petsdata.age}}</h3>
    <h3>House Size:{{petsdata.house_size}}</h3>
    <img src="{{petsdata.image_url}}" alt="">
    
    <button id="favorite-pet">Favorite Pet!</button>
</div>