<div class="all">
    <h3>Name:</h3>
    <p>{{petsdata.name}}</p>
    <h3>Description:</h3>
    <p>{{petsdata.description}}</p>
    <h3>Breed:</h3> 
    <p>{{petsdata.breed}}</p>
    <h3>Size:</h3>
    <p>{{petsdata.size}}</p>
    <h3>Age:</h3>
    <p>{{petsdata.age}}</p>
    <h3>House Size:</h3>
    <p>{{petsdata.house_size}}</p>
    <h3>Good With Children:</h3>
    <p>{{petsdata.good_with_children}}</p>
    <h3>Good With Dogs:</h3>
    <p> {{petsdata.good_with_dogs}}</p>
    <h3>Good With Cats:</h3>
    <p>{{petsdata.good_with_cats}}</p>
    <h3>Spayed or Neutered:</h3>
    <p>{{petsdata.spayed}}</p>
    <img src="{{petsdata.image_url}}" alt="">
</div>