<div>
    <h3>Name: {{name}}</h3>
    <h3>Description:{{description}}</h3>
    <h3>Breed:{{breed}}</h3> 
    <h3>Size:{{size}}</h3>
    <h3>Age:{{age}}</h3>
    <h3>House Size:{{house_size}}</h3>
    <img src="{{image_url}}" alt="">
    
    <button id="favorite-pet">Favorite Pet!</button>
</div>