<br><br>
<div class="row" id="quiz">
<div class="col-md-6">
    <h5>Take the survey to see what pet is right for you!</h5>
    <a href="/survey" id=take-survey-button>Take Survey</a>
</div>
<div class="col-md-6">

  <h5>Find Pets Near You</h5>
  <a href="/adopt">Adopt</a>

</div>
</div>

<div class="gallery">
  <div class="gallery-container">
    {{!-- {{#each adoptable as |adoptable|}} --}}
    <img class="gallery-item gallery-item-5" src="{{randomPet5.image_url}}">
    <img class="gallery-item gallery-item-1" src="{{randomPet1.image_url}}">
    <img class="gallery-item gallery-item-2" src="{{randomPet2.image_url}}">
    <img class="gallery-item gallery-item-3" src="{{randomPet3.image_url}}">
    <img class="gallery-item gallery-item-4" src="{{randomPet4.image_url}}">
  </div>
  {{!-- {{/each}} --}}
  <div class="gallery-controls"></div>
</div>

<script src="/js/carousel.js"></script>