    <h1>{{username}}'s page</h1>
    
    <nav>
    <a href="/survey">Take Survey</a>
    <a href="/create">Post a New Pet For Adoption</a>
    <a href="/profile/favoritePets">Look at Favorite Pets</a>

    </nav>


    <h1>Set/reset your preferences by taking the quiz below</h1>

{{#if isMyPage}}
    <h3>New Pet Data</h3>
    <form id="newPostForm">
        <textarea id="newPostBody" id=""  placeholder="Pets Name"></textarea>
        <textarea id="newPostBody" id=""  placeholder="Description"></textarea>
        <textarea id="newPostBody" id=""  placeholder="Type of animal"></textarea>
        <textarea id="newPostBody" id="" placeholder="Size"></textarea>
        <textarea id="newPostBody" id=""  placeholder="Age"></textarea>
        <textarea id="newPostBody" id=""  placeholder="House size"></textarea>
         <textarea id="newPostBody" id=""  placeholder="Good with children"></textarea>
          <textarea id="newPostBody" id="" placeholder="Good with dogs"></textarea>
           <textarea id="newPostBody" id=""  placeholder="Good with cats"></textarea>
            <textarea id="newPostBody" id=""  placeholder="Do you have a yard"></textarea>
             <textarea id="newPostBody" id=""  placeholder="Does your Cat have claws"></textarea>
              <textarea id="newPostBody" id=""  placeholder="Is your pet Spayed or neutered"></textarea>
               <textarea id="newPostBody" id=""  placeholder="Does your Pet have any special needs"></textarea>
                <textarea id="newPostBody" id=""  placeholder="insert image here.."></textarea>
                <button id="upload_widget" class="cloudinary-button">Upload Photos</button>
                 <button>Post new pet</button>
    </form>
    

{{/if}}


{{#each Posts }}
    <div class="blogPost">
        <h3>{{../username}} on {{formattedDate}} at {{formattedTime}}</h3>
        {{#if ../isMyPage}}
        <button class="delPostBtn" data-id={{id}}>Delete</button>
        {{/if}}
        <p>{{body}}
            {{description}}
            {{type}}
            {{breed}}
            {{size}}
            {{age}}
            {{houseSize}}
            {{goodWithChildren}}
            {{goodWithDogs}}
            {{goodWithCats}}
            {{hasYard}}
            {{hasClaws}}
            {{spayed}}
            {{specialNeeds}}
            {{image}}
         
           

        </p>
      {{/each}} 

      <script src= "/public/js/profile.js"></script> 
      <script src= "/public/js/favoritePet.js"></script> 
      <script src = "/js/cloudinary.js"></script>
<div class="container">


<div class="col-md-6">
    <h1>Set/reset your preferences by taking the quiz below</h1>
    <a href="/survey">Take Survey</a>
</div>
</div>

